@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body {
    margin: 0;
    padding: 0;
    
}

/* Logo inicia */

.img-prueba {
    width: 200px;
    height: 100px;
    display: inline-block;
}

/* Termina logo */

/* UL LIST - LIS */
.container-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-list {
    display: flex;
}

.li-item {
    list-style: none;
    display: flex;
    align-items: center;

}

nav ul li a {
    color: black;
    margin: 0 4em;  
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.5em;
    font-family: 'Mitr', sans-serif;
}

nav ul li a:hover{
    color: rgb(255, 90, 49);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 246, 238);
}

/* UL LIST - LIS END */

/* Carrito inicia */

.container-carrito{
    display: flex;
    align-items: center;
}

.carrito-img {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

/* Termina carrito */

/* CONTADOR */

.contador-container {
    width: 300px;
    text-align: center;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-container button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

.boton-container button:active {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 90, 49);;
}

.boton-container button p:active {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 90, 49);;
}

/* TERMINA CONTADOR */